<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#FFFFFF">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>REDTEAM | 템플릿관리</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Roboto">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/sport.min.css" type="text/css">
    <link rel="stylesheet" href="/css/choices.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>

</head>

<body>
<!--네이게이터-->
<div class="sidebar">
    <div class="sidebar-header"><a href="#">
        <img src="/image/intro_icon.png" style="max-width: 80%; height: auto;">
    </a>
        <div class="sidebar-control"><i class="la la-navicon"></i></div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="list-menu">
            <li class="header">Total Info</li>
            <li class="tree-item"><a href="/dashboard/total"><i class="la la-group"></i><span>대시보드</span>
                <div class="right-container"></div>
            </a>
            <li class="header">Project Info</li>
            <li class="tree-item"><a href="/project/progress"><i class="la la-group"></i><span>프로젝트 관리</span>
                <div class="right-container"></div>
            </a>
            <li class="tree-item"><a href="/manager/target"><i class="la la-group"></i><span>대상관리</span>
                <div class="right-container"></div>
            </a>

            </li>
            <li class="tree-item active"><a href="/manager/template"><i
                    class="la la-file-text"></i><span>템플릿관리</span>
                <div class="right-container"></div>
            </a>
            </li>
<!--            <li class="tree-item"><a href="/project/create"><i-->
<!--                    class="la la-pencil-square"></i><span>프로젝트 생성</span>-->
<!--                <div class="right-container"></div>-->
<!--            </a>-->
<!--            </li>-->
            <li class="header">Setting</li>
            <li class="has-children"><a href="javascript:;"><i class="la la-cog"></i><span>설정</span>
                <div class="right-container"><i class="la la-chevron-right tree-icon"></i></div>
            </a>
                <ul class="tree">
                    <li class="tree-item"><a href="/setting/user"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">사용자 정보</span></a></li>
                    <li class="tree-item"><a href="/setting/smtp"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">SMTP 설정</span></a></li>
                </ul>
            </li>
            <li class="header">Help</li>
            <li class="has-children"><a href="javascript:"><i class="la la-question"></i><span>도움말</span>
                <div class="right-container"><i class="la la-chevron-right tree-icon"></i></div>
            </a>
                <ul class="tree">
                    <li class="tree-item"><a href="/help/project"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">프로젝트 관리</span></a></li>
                    <li class="tree-item"><a href="/help/target"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">대상 관리</span></a></li>
                    <li class="tree-item"><a href="/help/template"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">템플릿 관리</span></a></li>
                    <li class="tree-item"><a href="/help/smtp"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">SMTP 설정</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--네이게이터-->

<div class="main-content">
    <div class="header">
        <div class="left">
            <p></p>
            <div class="breadcrumb"><span>템플릿관리</span></div>
        </div>


        <ul class="right">
            <li class="header-user dropdown ml-4 mr-3"><a class="user-photo trigger-dropdown"><img class="user-img"
                                                                                                   src="/image/user.png"/></a>
                <div class="dropdown-box with-header">
                    <div class="dropdown-header"><img class="user-img user-img--lg"
                                                      src="/image/user.png"/>
                        <div class="user-info">
                            <h3 id="dropdown_name">name</h3><span class="helper-text" id="dropdown_id">email</span>
                        </div>
                    </div>
                    <ul class="dropdown-body">
                        <li><a href="/setting/user" target="_blank"><i
                                class="la la-user"></i><span>사용자 정보</span></a></li>
                        <li><a href="/setting/smtp"><i class="la la-cogs"></i><span>SMTP 설정</span></a>
                        </li>
                        <li><a href="javascript:Logout();"><i class="la la-power-off"></i><span>로그아웃</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="right--mobile"><a class="header-item--mobile sidebar-control"><i class="la la-navicon"></i></a><a
                class="header-item--mobile"><i class="la la-comments"></i></a><a class="header-item--mobile"><i
                class="la la-ellipsis-v"></i></a></div>
    </div>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header">
                        <h3>템플릿관리</h3>
                    </div>

                    <div class="pgn-modal" id="my_modal">
                        <div class="pgn-modal-wrapper ">
                            <div class="modal__header">
                                <h5>템플릿 관리</h5>
                                <div class="toolbox">
                                    <button class="btn-modal-close modal-dismiss" onclick="closeModal()"><i
                                            class="la la-times"></i></button>
                                </div>
                            </div>
                            <div class="modal__body">
                                <div class="form-group w-50">
                                    <label for="tmp_division">구분</label>
                                    <select id="tmp_division">
                                        <option value="1" disabled>기본</option>
                                        <option value="2" selected>사용자</option>
                                </select>
                                </div>

                                <div class="form-group w-50">
                                    <label for="tmp_kind">훈련유형</label><select id="tmp_kind">
                                    <option value="1" selected>경고 안내</option>
                                    <option value="2">피싱 유도</option>
                                    <option value="3">실태 조사</option>
                                </select>
                                </div>

                                <div class="form-group w-50">
                                    <label for="file_info">첨부파일 정보</label><select id="file_info">
                                    <option selected value="">첨부파일 없음</option>
                                    <option value="1">EXE</option>
                                    <option value="2">HTML</option>
                                    <option value="3">Excel</option>
                                </select>
                                </div>

                                <div class="form-group">
                                    <label for="tmp_name">템플릿명</label>
                                    <input type="text"
                                           id="tmp_name"
                                           maxlength="30">
                                    <input type="hidden" id="tmp_no">
                                </div>

                                <div class="form-group">
                                    <label for="sender_name">발송자명</label>
                                    <input type="text"
                                           id="sender_name"
                                           maxlength="30">
                                </div>
                                <!-- <label>발송자</label> -->

                                <div class="form-group">
                                    <label for="title">메일 제목</label>
                                    <input type="text"
                                           id="title" maxlength="60"></div>
                                <!-- <label>메일 제목(최대 30자)</label> -->


                                <textarea name="content" id="content"></textarea>
                                <script>
                                    CKEDITOR.replace('content');
                                </script>
                                <div class="form-group">
                                    <div style="color: red;font-weight: bold; font-size: small">
                                        {{target_name}} : 훈련 대상자의 이름, {{count_ip}} : email 열람 시 count, {{link_ip}} : link 클릭 시 count {{download_ip}} : download 파일 실행 시 count, {{target_position}}
                                        : 직급, {{target_orgarnize}} : 조직, {{target_phone}} : 훈련 대상자의 전화번호
                                    </div>
                                </div>
                                <div class="form-group w-50">
                                    <label for="download_type">다운로드 방식</label><select id="download_type">
                                    <option selected value="1">첨부파일 없음</option>
                                    <option value="2">링크 첨부</option>
                                    <option value="3">파일 첨부</option>
                                </select>
                                </div>

                            </div>
                            <div class="modal__footer">
                                <button class="btn btn-ghost modal-dismiss" onclick="closeModal()">취소</button>
                                <button class="btn btn-primary modal-dismiss" id="del" disabled="" onclick="delTml()">삭제</button>
                                <button class="btn btn-primary pull-right" id="tag_reg" onclick="editTml()"><span></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="toolbox">
                        <div class="box-body pt-0 px-0 responsive">
                            <table id="tmpls">
                                <thead>
                                <tr>
                                    <th style="visibility:hidden;position:absolute;"></th>
                                    <th>No</th>
                                    <th><i class="la la-pencil-square"></i></th>
                                    <th>구분</th>
                                    <th>훈련 유형</th>
                                    <th>첨부파일 정보</th>
                                    <th>템플릿명</th>
                                    <th>메일제목</th>
                                    <th>발송자명(이메일)</th>
                                    <th>다운로드 유형</th>
                                    <th>등록일</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="pagination-wrapper clearfix">
                        <ul class="pagination float--right" id="pages">
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/main.js"></script>
<script src="/js/script.js"></script>
<script src="/js/demo.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/js/jquery.serialize-object.min.js"></script>
<script src="/js/lib/Sortable.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script>
    function GetTemplates() {
        const r = new XMLHttpRequest();
        r.open('GET', 'http://localhost:5000/setting/getTemplates', true);
        r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        r.withCredentials = true;
        r.onreadystatechange = function () {
            let rObj;
            if (r.readyState === 4) {
                if (r.status === 200) {
                    rObj = JSON.parse(r.responseText);
                    console.log(r.responseText);

                    if (rObj.tmpls.length > 0) {
                        // table 비워주기
                        $('#tmpls > tbody').empty();
                        // No, id, 구분, 훈련유형, 첨부파일 정보, 템플릿명, 메일 제목, 발송자명, 다운로드 유형, 등록일
                        // No ,tmp_no , division, kind, file_info, tmp_name, mail_title, sender_name, download_type, created_t


                        for (let i = 0; i < rObj.tmpls.length; i++) {
                            if (rObj.tmpls[i].tmp_division === "기본") {
                                $('#tmpls > tbody:last').append('<tr>' + '<td></td><td>' + rObj.tmpls[i].fake_no + '</td>' +
                                    rObj.tmpls[i].fake_no + '</td><td>' +
                                    '<button class="btn btn-primary" id="tmp_modify_' + rObj.tmpls[i].tmp_no + '"' +
                                    ' onclick="OpenModal(' + rObj.tmpls[i].tmp_no + ')"><i class="fas fa-plus"></i></button>' +
                                    '<span></span></div></td><td>' + rObj.tmpls[i].tmp_division + '</td><td>' + rObj.tmpls[i].tmp_kind + '</td><td>' + rObj.tmpls[i].file_info +
                                    '</td><td>' + rObj.tmpls[i].tmp_name + '</td><td>' + rObj.tmpls[i].title + '</td><td>' +
                                    rObj.tmpls[i].sender_name + '</td><td>' + rObj.tmpls[i].download_type + '</td>' +
                                    '<td>' + rObj.tmpls[i].created_time + '</td></tr>');
                            } else if (rObj.tmpls[i].tmp_division === "사용자") {
                                $('#tmpls > tbody:last').append('<tr>' + '<td></td><td>' + rObj.tmpls[i].fake_no + '</td>' +
                                    rObj.tmpls[i].fake_no + '</td><td>' +
                                    '<button class="btn btn-c-success" id="tmp_modify_' + rObj.tmpls[i].tmp_no + '"' +
                                    ' onclick="OpenModal(' + rObj.tmpls[i].tmp_no + ')"><i class="la la-pencil"></i></button>' +
                                    '<span></span></div></td><td>' + rObj.tmpls[i].tmp_division + '</td><td>' + rObj.tmpls[i].tmp_kind + '</td><td>' + rObj.tmpls[i].file_info +
                                    '</td><td>' + rObj.tmpls[i].tmp_name + '</td><td>' + rObj.tmpls[i].title + '</td><td>' +
                                    rObj.tmpls[i].sender_name + '</td><td>' + rObj.tmpls[i].download_type + '</td>' +
                                    '<td>' + rObj.tmpls[i].created_time + '</td></tr>');
                            }



                            //<button class="btn btn-c-success" style="margin-left: 10px;" id="reg_tag"
                            //data-modal="#tag_registry">태그 관리
                            //</button>
                        }
                    } else {
                        $('#tmpls > tbody:last').append('<tr><td colspan="7"><div class="alert alert">\n' +
                            '                  <p>Info<span>등록된 템플릿이 존재하지 않습니다.</span></p>\n' +
                            '                </div></tr></td>');
                    }

                    // paging(rObj.total, page);

                } else if (r.status === 403) {
                    const tokenResult = Refresh();
                    if (tokenResult) {
                        GetTemplates();
                        // console.log("true")
                    }
                } else {
                    document.location.href = '/';
                }
            }
        };
        r.send();
    }

    function GetTmlDetail(tml_no) {
        const r = new XMLHttpRequest();
        r.open('GET', 'http://localhost:5000/setting/TemplateDetail?template_no=' + tml_no, true);
        r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        r.withCredentials = true;
        r.onreadystatechange = function () {
            let rObj;
            if (r.readyState === 4) {
                if (r.status === 200) {
                    console.log(r.responseText);
                    rObj = JSON.parse(r.responseText);
                    // todo 파싱 해야함 .. 데이터 포멧 보고 하자.
                    // todo 김태호 멘티 자체적으로 포멧 추가..

                    $('#tmp_division').val(rObj.tmpls.tmp_division);
                    $('#tmp_kind').val(rObj.tmpls.tmp_kind);
                    $('#tmp_no').val(rObj.tmpls.tmp_no);
                    $('#tmp_name').val(rObj.tmpls.tmp_name);
                    $('#file_info').val(rObj.tmpls.file_info);
                    $('#sender_name').val(rObj.tmpls.sender_name);
                    $('#title').val(rObj.tmpls.title);
                    CKEDITOR.instances.content.setData(rObj.tmpls.content);
                    // $('#content').val(rObj.tmpls.content);
                    $('#download_type').val(rObj.tmpls.download_type);

                } else if (r.status === 403) {
                    const tokenResult = Refresh();
                    if (tokenResult) {
                        GetTmlDetail(tml_no);
                    }
                } else {
                    document.location.href = '/';
                }
            }
        };
        r.send();
    }

    function editTml() {
        const tmp_division = $('#tmp_division').val();
        const tmp_kind = $('#tmp_kind').val();
        const tmp_name = $('#tmp_name').val();
        const tmp_no = $('#tmp_no').val();
        const file_info = $('#file_info').val();
        const sender_name = $('#sender_name').val();
        const title = $('#title').val();
        const content = CKEDITOR.instances.content.getData();
        const download_type = $('#download_type').val();

        const formData = {
            tmp_no: parseInt(tmp_no),
            tmp_division: tmp_division,
            tmp_kind: tmp_kind,
            tmp_name: tmp_name,
            file_info: file_info,
            sender_name: sender_name,
            title: title,
            content: content,
            download_type: download_type
        };
        console.log(JSON.stringify(formData));

        const r = new XMLHttpRequest();
        r.open('POST', 'http://localhost:5000/setting/EditTemplate', true);
        r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        r.withCredentials = true;
        r.onreadystatechange = function () {
            if (r.readyState === 4) {
                if (r.status === 200) {
                    alert("템플릿 수정 완료했습니다.")
                    location.reload()
                } else if (r.status === 403) {
                    const tokenResult = Refresh();
                    if (tokenResult) {
                        editTml();
                        console.log("true")
                    }
                }
            }
        };
        console.log(formData);
        r.send(JSON.stringify(formData));

    }

    function delTml() {
        if (!confirm("정말 삭제하시겠습니까?")) {
            return
        }

        const tmp_no = $('#tmp_no').val();

        const formData = {
            tmp_no: parseInt(tmp_no),
        };

        const r = new XMLHttpRequest();
        r.open('POST', 'http://localhost:5000/setting/delTmp', true);
        r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        r.withCredentials = true;
        r.onreadystatechange = function () {
            if (r.readyState === 4) {
                if (r.status === 200) {
                    alert("템플릿 삭제 완료했습니다.")
                    location.reload()
                } else if (r.status === 403 || r.status === 500) {
                    const tokenResult = Refresh();
                    if (tokenResult) {
                        delTml();
                        console.log("true")
                    }
                }
            }
        };
        r.send(JSON.stringify(formData));
    }

    var del_button = document.getElementById('del');
    var reg_button = document.getElementById('reg_tag');

    function OpenModal(i) {
        console.log(i + "번호")
        if (i <= 3) {
            del_button.disabled = true;
            $('#del').removeClass('btn btn-primary modal-dismiss');
            $('#del').addClass('btn btn-disabled');
            $('#tag_reg span').text('추가하기');
        } else {
            $('#del').removeClass('btn btn-disabled');
            $('#del').addClass('btn btn-primary modal-dismiss');
            del_button.disabled = false;
            $('#tag_reg span').text('수정하기');
        }

        GetTmlDetail(i); //todo 김태호 멘티 test 용 추가함.
        $("#my_modal").show().center();
    }

    function closeModal() {
        $('#my_modal').hide();
    }

    jQuery.fn.center = function () {
        this.css("position", "absolute");
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
            $(window).scrollTop()) + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
            $(window).scrollLeft()) + "px");
        this.css("width", "700px")
        return this;
    }

    GetDashBoard();
    GetTemplates();
</script>

</body>

</html>
