<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#FFFFFF">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>REDTEAM | 템플릿관리</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Roboto">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <link rel="stylesheet" href="../public/css/sport.min.css" type="text/css">
    <link rel="stylesheet" href="../public/css/choices.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>

<body>
<!--네이게이터-->
<div class="sidebar">
    <div class="sidebar-header"><a href="#">
        <img src="../public/image/intro_icon.png" style="max-width: 80%; height: auto;">
    </a>
        <div class="sidebar-control"><i class="la la-navicon"></i></div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="list-menu">
            <li class="header">Total Info</li>
            <li class="has-children"><a href="javascript:;"><i
                    class="la la-dashboard"></i><span>대시보드</span>
                <div class="right-container"><i class="la la-chevron-down tree-icon"></i></div>
            </a>
                <ul class="tree">
                    <!--   전체적인 진황 현황 등 그래프와 진행 상태 표현             -->
                    <li class="tree-item"><a href="../dashboard/main.html"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">전체진행현황</span></a></li>
                    <!--   프로젝트 별 진행 상태 및 설정 현황 표현             -->
                    <li class="tree-item"><a href="../dashboard/project-detail.html"><i
                            class="la la-circle"></i><span
                            style="font-size:0.8em;">프로젝트상세</span></a>
                    </li>
                </ul>
            </li>
            <li class="header">Project Info</li>
            <li class="has-children"><a href="javascript:;"><i class="la la-laptop"></i><span>프로젝트 진행현황</span>
                <div class="right-container"><i class="la la-chevron-right tree-icon"></i></div>
            </a>
                <ul class="tree">
                    <li class="tree-item"><a href="../project/project-ing.html"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">진행 프로젝트</span></a></li>
                    <li class="tree-item"><a href="../project/project-ed.html"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">완료 프로젝트</span></a></li>
                    <li class="tree-item"><a href="../project/project-booking.html"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">예약 프로젝트</span></a></li>
                </ul>
            </li>
            <li class="tree-item"><a href="../target/target.html"><i class="la la-group"></i><span>대상관리</span>
                <div class="right-container"></div>
            </a>

            </li>
            <li class="tree-item active"><a href="../templates/template.html"><i
                    class="la la-file-text"></i><span>템플릿관리</span>
                <div class="right-container"></div>
            </a>
            </li>
            <li class="tree-item"><a href="../project/project-making.html"><i
                    class="la la-pencil-square"></i><span>프로젝트 생성</span>
                <div class="right-container"></div>
            </a>
            </li>
            <li class="header">Setting</li>
            <li class="has-children"><a href="javascript:;"><i class="la la-cog"></i><span>설정</span>
                <div class="right-container"><i class="la la-chevron-right tree-icon"></i></div>
            </a>
                <ul class="tree">
                    <li class="tree-item"><a href="../setting/person-setting.html"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">사용자 정보</span></a></li>
                    <li class="tree-item"><a href="../setting/smtp-setting.html"><i
                            class="la la-circle"></i><span style="font-size:0.8em;">SMTP 설정</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--네이게이터-->

<div class="main-content">
    <div class="header">
        <div class="left">
            <p>템플릿관리</p>
            <div class="breadcrumb"><span>템플릿관리</span></div>
        </div>
        <ul class="right">
            <li class="header-user dropdown ml-4 mr-3"><a class="user-photo trigger-dropdown"><img class="user-img"
                                                                                                   src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png"/></a>
                <div class="dropdown-box with-header">
                    <div class="dropdown-header"><img class="user-img user-img--lg"
                                                      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/101e1fb9-0b2e-4f2d-acfb-a777dc48f629/d4sn4w7-2a5d1fdf-2af2-408a-9300-08f28cd12951.png"/>
                        <div class="user-info">
                            <h3 id="dropdown_name">name</h3><span class="helper-text" id="dropdown_id">email</span>
                        </div>
                    </div>
                    <ul class="dropdown-body">
                        <li><a href="../setting/person-setting.html" target="_blank"><i
                                class="la la-user"></i><span>사용자 정보</span></a></li>
                        <li><a href="../setting/smtp-setting.html"><i class="la la-cogs"></i><span>SMTP 설정</span></a>
                        </li>
                        <li><a href="javascript:Logout();"><i class="la la-power-off"></i><span>로그아웃</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="right--mobile"><a class="header-item--mobile sidebar-control"><i class="la la-navicon"></i></a><a
                class="header-item--mobile"><i class="la la-comments"></i></a><a class="header-item--mobile"><i
                class="la la-ellipsis-v"></i></a></div>
    </div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header">
                        <h3>템플릿관리</h3>
                    </div>

                    <div class="box-body pt-0 px-0 responsive">
                        <table id="targets">
                            <thead>
                            <tr>
                                <th style="visibility:hidden;position:absolute;"></th>
                                <th>No</th>
                                <th><i class="la la-pencil-square"></i></th>
                                <th>구분</th>
                                <th>훈련 유형</th>
                                <th>첨부파일 정보</th>
                                <th>템플릿명</th>
                                <th>메일제목</th>
                                <th>발송자명(이메일)</th>
                                <th>다운로드 유형</th>
                                <th>등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-wrapper clearfix">
                        <ul class="pagination float--right" id="pages">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="../public/js/main.js"></script>
<script src="../public/js/script.js"></script>
<script src="../public/js/demo.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../public/js/jquery.serialize-object.min.js"></script>
<script src="../public/js/lib/Sortable.min.js"></script>

<script>

  function GetTemplates() {
    const r = new XMLHttpRequest();
    r.open('GET', 'http://localhost:5000/setting/getTemplates', true);
    r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    r.withCredentials = true;
    r.onreadystatechange = function () {
      let rObj;
      if (r.readyState === 4) {
        if (r.status === 200) {
          // rObj = JSON.parse(r.responseText);
          console.log(r.responseText);
          // if (rObj.targets.length > 0) {
          //   // table 비워주기
          //   $('#targets > tbody').empty();
          //   for (let i = 0; i < rObj.targets.length; i++) {
          //     if (rObj.targets[i].tg_tag.length === 0) {
          //       $('#targets > tbody:last').append('<tr><td id="target_' + rObj.targets[i].tg_no +
          //               '" style="visibility:hidden;position:absolute;">' + rObj.targets[i].tg_no + '</td><td><div class="pgn-checkbox"><input type="checkbox" name="">' +
          //               '<span></span></div></td><td>' + rObj.targets[i].tg_name + "(" +
          //               rObj.targets[i].tg_email + ")" + '</td><td>' + rObj.targets[i].tg_phone + '</td><td>' + rObj.targets[i].tg_organ +
          //               '</td><td>' + rObj.targets[i].tg_position + '</td><td>' + rObj.targets[i].created_t + '</td>' +
          //               '<td></td></tr>');
          //     } else {
          //       $('#targets > tbody:last').append('<tr><td id="target_' + rObj.targets[i].tg_no +
          //               '" style="visibility:hidden;position:absolute;">' + rObj.targets[i].tg_no + '</td><td><div class="pgn-checkbox"><input type="checkbox" name="">' +
          //               '<span></span></div></td><td>' + rObj.targets[i].tg_name + "(" +
          //               rObj.targets[i].tg_email + ")" + '</td><td>' + rObj.targets[i].tg_phone + '</td><td>' + rObj.targets[i].tg_organ +
          //               '</td><td>' + rObj.targets[i].tg_position + '</td><td>' + rObj.targets[i].created_t + '</td>' +
          //               '<td><label class="badge badge-green">' + rObj.targets[i].tg_tag + '</label></td></tr>');
          //     }
          //
          //
          //   }
          // } else {
          //   $('#targets > tbody:last').append('<tr><td colspan="7"><div class="alert alert">\n' +
          //           '                  <p>Info<span>등록된 대상자가 존재하지 않습니다.</span></p>\n' +
          //           '                </div></tr></td>');
          // }
          //
          // paging(rObj.total, page);
          //
          // if (rObj.tags.length > 0) {
          //   $('#tag_menage > tbody').empty();
          //   $('#tag_select').empty();
          //   for (let j = 0; j < rObj.tags.length; j++) {
          //     $('#tag_menage >tbody:last').append("<tr id='tag_" + rObj.tags[j].tag_no + "'>" +
          //             "                        <td>" + rObj.tags[j].tag_name + "</td>\n" +
          //             "                        <td>" + rObj.tags[j].created_t + "</td>\n" +
          //             "                        <td>\n" +
          //             "                        <button class=\"btn btn-secondary\" onclick='deleteTag(" + rObj.tags[j].tag_no + ")'><i class=\"la la-trash\"></i></button>\n" +
          //             "                        </td>\n" +
          //             "                        </tr>");
          //
          //     if (j === 0) {
          //       // const option = ;
          //       console.log(rObj.tags[j].tag_no);
          //       $('#tag_selector').append("<option value='" + rObj.tags[j].tag_no + "' selected>" + rObj.tags[j].tag_name + "</option>");
          //       $('#tag_selector2').append("<option value='" + rObj.tags[j].tag_no + "'>" + rObj.tags[j].tag_name + "</option>");
          //     } else {
          //       $('#tag_selector').append("<option value='" + rObj.tags[j].tag_no + "'>" + rObj.tags[j].tag_name + "</option>");
          //       $('#tag_selector2').append("<option value='" + rObj.tags[j].tag_no + "'>" + rObj.tags[j].tag_name + "</option>");
          //     }
          //
          //   }
          // } else {
          //   $('#tag_menage > tbody:last').append('<tr><td colspan="3"><div class="alert alert">\n' +
          //           '                  <p>Info<span>등록된 태그가 존재하지 않습니다.</span></p>\n' +
          //           '                </div></tr></td>');
          // }


        } else {
          // document.location.href = "../index.html";
        }
      }
    };
    r.send();
  }
  GetTemplates();
</script>

</body>

</html>